// About page styles
.about-page {
  padding-top: $spacing-5;
  
  .path {
    margin-bottom: $spacing-4;
  }
  
  .about {
    margin-bottom: $spacing-5;
  }
  
  .skills {
    margin-bottom: $spacing-5;
  }
  
  .facts {
    margin-bottom: $spacing-5;
  }
}
